<div id="<%= dom_id administrador %>">
  <p>
    <strong>Nome:</strong>
    <%= administrador.nome %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= administrador.senha %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrador.email %>
  </p>

</div>
