<h1>Editing administrador</h1>

<%= render "form", administrador: @administrador %>

<br>

<div>
  <%= link_to "Show this administrador", @administrador %> |
  <%= link_to "Back to administradors", administradors_path %>
</div>
