<h2>Login</h2>
<hr>
<form action="/login" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Digite seu email">
    <small id="emailHelp" class="form-text text-muted">Não compartilhe o seu email com ninguém.</small>
  </div>
  <div class="form-group">
    <label for="senha">Password</label>
    <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="logado" name="logado">
    <label class="form-check-label" for="logado">Me mantenha logado</label>
  </div>

  <% if @erro.present? %>
    <div class="alert alert-danger" role="alert">
        <%= @erro %>
    </div>
  <% end %>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>